/**
 * SHARING OPTIONS
**/

.sharing {
  padding: 0 0 0;
  ul {
    @extend .inline-list;
    @extend .inline-icons;
    text-align: center;
    li {
      margin: 0 1.8em;
      a {
        &.sharing__facebook:before {
          content: "\e612";
        }
        &.sharing__twitter:before {
          content: "\e613";
        }
        &.sharing__google:before {
          content: "\e611";
        }
      }
    }
  }
}
